.container {
  max-width: 350px;
  margin: -1.5em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.todo-container {
  width: 350px;
  padding: 1em 1em;
  background: var(--veryLightGray);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.input-bar {
  border: none;
}
.btn {
  background-image: var(--checkBackground);
  border: none;
  color: aliceblue;
  padding: 0.3em 0.5em;
  border-radius: 5px;
}
.todos-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;

  width: 350px;
  padding: 1em 0;
}
.old-todos {
  display: flex;
  margin: 0;
  border-bottom: 1px solid var(--lightGrayishBlue);
  padding: 1em 1em;
  background: var(--veryLightGray);
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.mark {
  padding: 0.5em;
  margin: 0 0.5em;
  background: transparent;
  color: transparent;
  border-radius: 50%;
  border: 1px solid black;
}
.mark-done {
  padding: 0.5em;
  margin: 0 0.5em;
  background-image: var(--checkBackground);
  border-radius: 50%;
}
.text-done {
  text-decoration: line-through;
  color: var(--darkGrayishBlue);
}
.todo-result {
  justify-content: space-between;
  padding: 0.5em 2em;
}
.todo-result p {
  margin: 0 1.5em;
}
